<diV class="margin"></diV>
<p>Material Icon</p>
<h1 class="ngFor">NgFor</h1>
<br>
<div>
    <select [(ngModel)]="nome" class="center">
        <option *ngFor="let item of nomes; index as i" value="{{item}}">{{ item }}</option>
    </select>
    - {{nome}}
</div>
<br>
<div>
    <p class="ngFor" *ngFor="let item of ['Gustavo','Vitor','Maria','Bruno','Inácio']; index as i">
        {{ i + 1}}
        {{ item }}
    </p>
</div>
<br>
<button (click)="adicionarFotos()">adicionar</button>
<button (click)="mostrarFotos()">Mostrar</button>

<div *ngFor="let foto of fotos">
<input type="file" [(ngModel)]="foto.arquivo">
</div>

<p [style.background-color]="escolherCor()" *ngIf="isGustavo(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isMaria(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isInacio(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isBruno(); else nomeNaoSelecionada">{{nome}}</p>
<p [style.background-color]="escolherCor()" *ngIf="isVitor(); else nomeNaoSelecionada">{{nome}}</p>

<ng-template #nomeNaoSelecionada>
    <p>Nome Não Selecionado</p>
</ng-template>